{% extends 'base.html.twig' %}

{% block title %} Compte {% endblock %}

{% block body %}


<h1 class="text-center m-4">Mon profil</h1>

<div class="container-fluid">
<h2 class="col-12 text-center">
    {{ app.user.nom }}
    {{ app.user.prenom }}
    <small class="text-muted">@{{ app.user.pseudo }}</small>
</h2>

<div class="row my-4">
    <p class="col-4">
        {{ app.user.email }}<br>
        Statut: 
        {% if is_granted('ROLE_ADMIN') %}
            Administrateur
        {% endif %}
        <br>
        
        Inscrit depuis le: {{ app.user.dateEnregistrement|date('d/m/y') }}
    </p>
</div>

<h3 class="my-2">Commandes effectuées</h3>
<div class="list-group bg-light m-4">
    {% for commande in commandes %}
        {% if commande.membre.id == app.user.id %}
            <div class="list-group-item list-group-item-action list-group-item-light">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ commande.id }}</h5>
                <small>{{ commande.dateEnregistrement|date('d/m/y') }}</small>
                </div>
                <p class="mb-1">{{ commande.produit.titre }}</p>
                <small>{{ commande.montant }}€</small>
            </div>
        {% endif %}
    {% endfor %}
  </div>

</div>



{% endblock %}
